<h2>Fyber Offers Api Sinatra Application</h2>

<pre>

What's inside?
--------------

* rack-test for routes tests
* yard for documentation
* Rakefile, Gemfile

Folders Structure
------------------

    app.rb         # require sinatra, routes/init

    routes/          
      init.rb      # Require each route, in controlled order
      offers.rb    # One or more routes related to offers Api request

    views/
      layout.erb   	# Common layout
      offers_form.erb 	#form layout
      index.erb    	# Specific view

    test/         
      routes       # rack-test

Setup
-----

Install Ruby 1.9.1

Install bundler

    gem install bundler

Install the gems

    bundle install --without production staging

View all available rake commands

    rake -T

    rake                  # Run all tests
    rake yard             # Generate YARD Documentation

Run the server

    rackup -p 4657

Go to http://127.0.0.1:4657
</pre>
