<form action='/fetch/offers' method='post' class="form-inline well">
  <input type="text" name='uid' placeholder="uid" autofocus>
  <input type="text" name='pub0' placeholder="pub0">
  <input type="text" name='page' placeholder="page">
  <input class="btn primary" type='submit' value='Request'>
</form>
